@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url(https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Shippori Antique, sans-serif;
    font-weight: 300;
    color: #fff;
}

/* Headings and logo */

h1 {
    font-family: Shippori Antique, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Menu */

#menu {
    font-size: 100;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box p {
    margin: 20px 0 40px;
}

.train-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #3a3a3a;
    padding: 10px 30px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.train-btn:hover {
    border: 1px solid #fff;
}