@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body, html {
    height: 100%;
}

/* background-image */

.bg {
    background-image: url(https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    background-image: url(https://images.pexels.com/photos/28054/pexels-photo-28054.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Shippori Antique, sans-serif;
    font-weight: 300;
    color: #fff;
}

/* Headings and logo */

h1 {
    font-family: Shippori Antique, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Menu */

#menu {
    font-size: 100;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box p {
    margin: 20px 0 40px;
}

.train-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #3a3a3a;
    padding: 10px 30px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.train-btn:hover {
    border: 1px solid #fff;
}

/* why-train */

#why-train{
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* footer and social icons */

footer {
    height: 40px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}

/* About Us */

.bx {
    background-image: url(https://images.pexels.com/photos/4753898/pexels-photo-4753898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box1 {
    width: 90%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    }

footer {
    height: 50px;
}

.social-networks1 {
    text-align: center;
}

.social-networks1 > li {
    display: inline;
}

.social-networks1 i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/* Motivation Station */

.sk {
    background-image: url(https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vid {
    display: block;
    margin: 0 auto;
}

